body, footer {
    background-color: whitesmoke;
}
p, h1, h2, h3, h4, h5, h6, pre {
    color: #6e6e6e;
}
pre.desc#intro {

}
pre.desc#idea {

}
pre.desc#open {

}
.heading#title, .heading#subtitle {
    /* the blinkOS title on the page*/
    color: white;
}
div.heading#headingdiv {
    background-color: #0f6bff;
}
